<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Prueba</servlet-name>
        <servlet-class>Pruebas.Prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ws_login</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Curso</servlet-name>
        <servlet-class>Servlets.ABM_Curso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AM_Version</servlet-name>
        <servlet-class>Servlets.AM_Version</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AM_Parametro</servlet-name>
        <servlet-class>Servlets.AM_Parametro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_ParametroEmail</servlet-name>
        <servlet-class>Servlets.ABM_ParametroEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Carrera</servlet-name>
        <servlet-class>Servlets.ABM_Carrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ABM_Persona</servlet-name>
        <servlet-class>Servlets.ABM_Persona</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Prueba</servlet-name>
        <url-pattern>/Prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ws_login</servlet-name>
        <url-pattern>/ws_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AM_Version</servlet-name>
        <url-pattern>/AM_Version</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AM_Parametro</servlet-name>
        <url-pattern>/AM_Parametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Carrera</servlet-name>
        <url-pattern>/ABM_Carrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_ParametroEmail</servlet-name>
        <url-pattern>/ABM_ParametroEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Persona</servlet-name>
        <url-pattern>/ABM_Persona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ABM_Curso</servlet-name>
        <url-pattern>/ABM_Curso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
