/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : jun 17, 2017, 11:17:18 p.m.
    Author     : aa
*/

*{
    outline: none !important;
}

a{
    text-decoration: none !important;
}

.div_cargando_load{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    margin-left: -10px;
    background: rgba(0, 0, 0, .5); 
}

.div_cargando{
    display: none;
}

.div_msg{
    visibility: visible;
    width: 279px;
    position: fixed !Important;
    left: 50%;
    top: 25%;
    z-index: 9999;
}

.div_tabs
{
    display: inline;
}

.BtnAlta{
    background-image: url(../Imagenes/ingreso.jpg);
    height: 33px;
    width: 25px;
    border: 0;
}

.btn_eli{
    background-image: url(../Imagenes/eliminar.png);
    height: 33px;
    width: 23px;
    border: 0;
}

.btn_mod{
    background-image: url(../Imagenes/modificar.jpg);
    height: 33px;
    width: 25px;
    border: 0;
}

.margin{
    padding-left: 20px;
}

.PopEvl_Seleccionar{
    text-align: center;
}


.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.menu li a.active {
    background-color: #4CAF50;
    color: white;
}

.menu li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.campoCodigo{
    width: 80px !Important;
}

.campoFecha{
    width: 200px !Important;
}

.campoTexto100{
    width: 200px !Important;
}








/*---------------------------------- MATÃAS --------------------------------------------------*/

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.sidebar,
.off-canvas-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper {
  position: relative;
  /*height: calc(100vh - 75px);*/
  overflow: auto;
  width: 260px;
  z-index: 4;
}
.sidebar .logo-tim,
.off-canvas-sidebar .logo-tim {
  border-radius: 50%;
  border: 1px solid #333;
  display: block;
  height: 61px;
  width: 61px;
  float: left;
  overflow: hidden;
}
.sidebar .logo-tim img,
.off-canvas-sidebar .logo-tim img {
  width: 60px;
  height: 60px;
}
.sidebar .nav,
.off-canvas-sidebar .nav {
  margin-top: 20px;
}
.sidebar .nav li > a,
.off-canvas-sidebar .nav li > a {
  margin: 10px 15px;
  border-radius: 3px;
  color: #3C4858;
}
.sidebar .nav li:hover > a,
.off-canvas-sidebar .nav li:hover > a {
  background: rgba(200, 200, 200, 0.2);
  color: #3C4858;
}
.sidebar .nav li.active > a,
.off-canvas-sidebar .nav li.active > a {
  color: #FFFFFF;
}
.sidebar .nav li.active > a i,
.off-canvas-sidebar .nav li.active > a i {
  color: #FFFFFF;
}
.sidebar .nav p,
.off-canvas-sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
}
.sidebar .nav i,
.off-canvas-sidebar .nav i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}
.sidebar .sidebar-background,
.off-canvas-sidebar .sidebar-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}
.sidebar .sidebar-background:after,
.off-canvas-sidebar .sidebar-background:after {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: #FFFFFF;
  opacity: .93;
}
.sidebar .logo,
.off-canvas-sidebar .logo {
  position: relative;
  padding: 7px 25px;
  z-index: 4;
}
.sidebar .logo:after,
.off-canvas-sidebar .logo:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 10%;
  height: 1px;
  width: 80%;
  background-color: rgba(180, 180, 180, 0.3);
}
.sidebar .logo p,
.off-canvas-sidebar .logo p {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  color: #FFFFFF;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebar .logo .simple-text,
.off-canvas-sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: block;
  font-size: 18px;
  color: #3C4858;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}
.sidebar .logo-tim,
.off-canvas-sidebar .logo-tim {
  border-radius: 50%;
  border: 1px solid #333;
  display: block;
  height: 61px;
  width: 61px;
  float: left;
  overflow: hidden;
}

.main-panel {
  position: relative;
  z-index: 2;
  float: right;
  overflow: auto;
  width: calc(100% - 260px);
  min-height: 100%;
  background-color:#e8e8e8;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-panel {
  max-height: 100%;
  height: 100%;
}

.sidebar,
.main-panel {
  -webkit-transition-property: top,bottom;
  transition-property: top,bottom;
  -webkit-transition-duration: .2s,.2s;
  transition-duration: .2s,.2s;
  -webkit-transition-timing-function: linear,linear;
  transition-timing-function: linear,linear;
  -webkit-overflow-scrolling: touch;
}

.contenedor-cabezal{
    height:65px;
    background-color: #FFF;
    box-shadow: 0 8px 10px -5px rgba(104, 104, 104, 0.2);
}

.contenedor-principal{
    margin-left: 20px;
}

.contenedor-texto{
    height:auto;
    padding:15px;
    padding-top:20px;
    background-color: #fff;
    box-shadow: 0 8px 10px -5px rgba(104, 104, 104, 0.2);
}


.contenedor-texto-titulo-flotante{
    position:absolute;
    margin-top:50px;
    height:auto;
    padding:15px;
    padding-top:20px;
    background-color: #fff;
    box-shadow: 0 8px 10px -5px rgba(104, 104, 104, 0.2);
}

.contenedor-titulo{
    min-width:175px;
    height:auto;
    padding:2px 0;
    text-align: center;
    border-radius:5px;
    background-color: #0071bc;
    color:#FFF;
    font-size:21px;
    position:absolute;
    top:-24px;
    left:17px;   
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    box-shadow: 0 10px 8px -40px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.contenedor-tabs{
    position:absolute;
    top:-24px;
    left:17px;   
}

.contenedor-tabs ul li{
    margin-right:10px;
    margin-top:5px;
}

.contenedor-tabs ul li a{
    margin-right:10px;
    background-color: #ababab !important;
    box-shadow: 0 10px 8px -40px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    color:#FFF !important;
    border-radius:5px;
}

.contenedor-tabs ul li a:hover{
    border-color:#ababab;
}

.contenedor-tabs .active a{
    width:175px;
    height:auto;
    text-align: center;
    font-size:21px;
    padding-top:10px;
    display:block;
    margin-top:-5px;
    background-color:#0071bc !important;
}

.nav-tabs{
    border:none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    border:none !important;
    background: #fff !important;
}

.table>thead>tr>th{
    border-bottom:1px !important;
}

.padding-popup{
    padding:15px;
}

input[type=search]{
    border:1px solid #ccc;
}

.hide{
    display:none;
}


/* --- Radio Buttons ------ */

.checked{
    background-color:#0071bc !important;
    padding:5px;
    border-radius:5px;
    color:#FFF;
    font-weight:normal;
    cursor:pointer;
}

.unchecked{
    padding:5px 20px;
    border-radius:5px;
    font-weight:normal;
    background-color: #ababab;
    color:#FFF;
    cursor:pointer;
}

.contenedorSelect{
    background-color:#ddd;
    padding:0px 8px 8px 8px;
    margin-top:7px;
    margin-bottom:14px;
    border-radius:5px;
}

.triangulo{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 10px 12px;
    border-color: transparent transparent #ddd transparent;
    position:relative;
    top:-9px;
    left:26px;
      
}
