/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : jun 17, 2017, 11:17:18 p.m.
    Author     : aa
*/

.div_cargando_load{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    margin-left: -10px;
    background: rgba(0, 0, 0, .5); 
}

.div_cargando{
    display: none;
}

.div_msg{
    visibility: visible;
    width: 279px;
    position: fixed;
    left: 50%;
}

.div_tabs
{
    display: inline;
}

.BtnAlta{
    background-image: url(../Imagenes/ingreso.jpg);
    height: 33px;
    width: 25px;
    border: 0;
}

.btn_eli{
    background-image: url(../Imagenes/eliminar.png);
    height: 33px;
    width: 23px;
    border: 0;
}

.btn_mod{
    background-image: url(../Imagenes/modificar.jpg);
    height: 33px;
    width: 25px;
    border: 0;
}

.margin{
    padding-left: 20px;
}

.PopEvl_Seleccionar{
    text-align: center;
}


.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.menu li a.active {
    background-color: #4CAF50;
    color: white;
}

.menu li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.campoCodigo{
    width: 80px !Important;
}

.campoFecha{
    width: 200px !Important;
}

.campoTexto100{
    width: 200px !Important;
}

