/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : jun 17, 2017, 11:17:18 p.m.
    Author     : aa
*/

.div_cargando_load{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    margin-left: -10px;
    background: rgba(0, 0, 0, .5); 
}

.div_cargando{
    display: none;
}

.div_msg{
    visibility: visible;
    width: 279px;
    position: fixed;
    left: 50%;
}